
<mat-toolbar color="primary">
  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/todo" routerLinkActive="active">Todo List</a>
    <a routerLink="/employee" routerLinkActive="active">Employee List</a>
    <a routerLink="/directive" routerLinkActive="active">Directive Test</a>
    <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
    <!-- <a routerLink="/register" routerLinkActive="active">Register</a> -->
  </nav>
  <span class="example-spacer"></span>
  <button routerLink="/login" mat-button class="mat-button">Login</button>
  <button routerLink="/register" mat-button class="mat-button">Register</button>
</mat-toolbar>

<main class="main">
  <router-outlet />
</main>
